.top-navbar-elem {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top:10px;

	vertical-align: middle;

	font-size: 12px
}

img.top-navbar-elem {
	opacity: 0.5;
}

img.top-navbar-elem:hover {
	opacity: 0.7;
}

a {
	color: #222222;
	text-decoration: none;
	font-family: "Arial";
}

a:hover {
	text-decoration: underline;
}

.main-content {
	width: 80%;

	margin: auto;
	margin-top: 128px;
	margin-bottom: 128px;
}

#logo-image {
	display: block;
	width: 364px;
	margin: 0 auto;
}

.search-bar {
	display: block;
	width: 512px;

	margin: auto;
	margin-top: 38px;

	border-radius: 2px;
	border-width: 1px;
	border-color: #CCCCCC;

	box-shadow: 5px 1px 10px #CCCCCC;
}

.search-bar:hover {
	box-shadow: 5px 0px 20px #cccccc;
}

#search-bar-input {
	width: 100%;
	height: 36px;
}

#search-bar-input:focus {
	outline-width: 0px;
}

.buttons {
	display: block;
	width: 300px;
	margin: auto;
	margin-top: 28px;
}

.big-button {
	text-align: center;
	height: 42px;

	padding-left: 16px;
	padding-right: 16px;

	border-width: 0px;
	border-radius: 2px;

	font-size: 14px;
	font-weight: bolder;

	background-color: #f1f1f1;
	color: #757575;
}

.big-button:hover {
	box-shadow: 1px 1px 10px #CCCCCC;
	border-width: 1px;
	border-color: #cccccc;
}

#search-button {
	float: left;
}

#lucky-button {
	float: right;
}

.top-navbar {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 24px;

	margin-right: 24px;
}

.bottom-navbar {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 48px;

	background-color: #f2f2f2;

	border-style: solid;

	border-width: 1px 0px 0px 0px;

	border-color: #c2c2c2;

	font-size: 14px;
}

.bottom-navbar-elem {
	margin-left: 10px;
	margin-right: 10px;
}

.left, .right {
	position: absolute;
	top: 16px;
}

.left {
	left: 0px;
	margin-left: 20px;
}
 .right {
 	right: 0px;
	margin-right: 20px;
 }